---
layout: page
title: 第四号调色板
description: 特色迫害
snowflakes: false
---
<div class="color">
    {% for item in site.colors %}
    <div class="color-item" style="background-color:{{ item.color }} !important">
        {{ item.name }} {{ item.color }}
    </div>
    {% endfor %}
</div>