---
layout: page
title: 大事记
description: 今天森哥暗中观察了啥？
---
<div style="margin:8px;font-size:x-large">
    {%- for post in site.posts reversed -%}
    <div style="margin-top:20px">
        <a href="{{ post.url }}">{{ post.date | date: "%Y" }} 年 - 第 {{ post.week }} 周</a>
    </div>
    {%- endfor -%}
</div>