---
layout: page
title: 超级四班
description: 其实主页就是个导航
---
<div class="home">
    <div class="home-title">Where are you want to go?</div>
    <div class="home-content">请点击上面的链接到达分页面</div>
</div>

<div class="panel">
    <div class="panel-title">今日名句 ({{ site.today.date }})</div>
    <div class="today-content">{{ site.today.text }}</div>
</div>

<div class="panel">
    <div class="panel-title">上周大事记</div>
    {%- assign sorted = site.posts | reverse -%}
    <iframe src="{{ sorted[0].url }}" style="border:none;width:100%;height:12em"></iframe>
</div>
