---
layout: page
title: 四班语录
description: 内容无恶意，纯属娱乐
---

{% for post in site.quotations %}
{% if post.type == 'char' %}
<div class="char" id="{{ post.char }}">
    # {{ post.char }}
</div>
{% else %}
<div class="item">
    <div class="item-from">
        {{ post.from }}:
    </div>
    <div class="item-content{% if post.bold == true %} item-bold{% endif %}{% if post.italic == true %} item-italic{% endif %}">
        {% if post.url %}
        <a href="{{ post.url }}">{{ post.text }}</a>
        {% else %}
        {{ post.text }}
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}