.title {
    font-size: 3rem;
    font-family: 'ZCOOL XiaoWei';
}
.title .title-explain {
    font-size: large;
    color: #ddd;
}

.line {
    width: 100%;
    color: #eee;
    border-top: 1px double;
    margin-top: 15px;
}

.char {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 1.5em;
}
.item {
    padding: 12px;
}
.item-from {
    font-size: large;
    color: #eee;
}
.item-content {
    font-size: xx-large;
}

.item-content.item-bold {
    font-weight: bold;
}

.item-content.item-italic {
    font-style: italic;
}

.menu {
    margin-top: 10px;
}
.menu a.menu-item {
    margin-right: 10px;
}

.home {
    text-align: center;
    margin: 80px;
}
.home .home-title {
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
}
.home .home-content {
    font-size: 1.7em;
    color: #ddd;
    margin-top: 30px;
}

.panel {
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    border-color: #fff5;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    transition: 0.2s;
}
.panel:hover {
    background-color: #fff2;
}
.panel .panel-title {
    color: #fffd;
    font-size: large;
    margin-bottom: 4px;
}

.panel .today-content {
    font-size: xx-large;
}

.color {
    text-align: center;
    margin: 40px;
}
.color .color-item {
    background-color: white;
    padding: 15px;
    color: black;
    font-size: 1.4em;
    transition: 0.2s;
}
.color .color-item:hover {
    padding-bottom: 40px;
    padding-top: 40px;
    font-size: 1.6em;
}
.color .color-item-white {
    background-color: black;
    color: white;
}

.events {
    margin: 18px;
    margin-top: 20px;
}
.events .events-title {
    text-align: center;
    font-weight: bold;
}
.events div.event-item {
    margin-top: 10px;
}
.events span.event-time {
    color: #ddd;
    padding-right: 10px;
}
.events span.event-item {
    font-size: 1.25em;
}