@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=ZCOOL+XiaoWei&family=Josefin+Sans&display=swap');

body {
    background-color: #335;
    padding: 1em;
    color: white;
    font-family: 'Hind', 'Roboto', 'Source Han Sans', 'Noto Sans', 'Noto Sans CJK SC', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

footer {
    font-size: 1em;
    color: lightgray;
    margin: 20px 4px;
}

p {
    font-size: 2em;
    padding: 20px;
}

a {
    color: white;
    border-radius: 4px;
    padding: 0 4px;
    transition: 0.2s;
}
a:hover {
    color: #def;
    background: #fff2;
    text-decoration-line: none;
}

@media (max-width: 425px) {
    footer {
        font-size: 2em !important;
    }
}

/* 
.detail-from {
    font-size: 3.1rem;
}

.detail-from .detail-from-say {
    font-size: 2.8rem;
    color: #eee;
}

.detail-content {
    font-size: 5em;
    color: lightblue;
} */