---
layout: father
---
<div class="events">
    <div class="events-title">
        {{ page.date | date: "%Y" }} 年 - 第 {{ page.week }} 周
    </div>
    {%- for event in page.events -%}
    <div class="event-item">
        <span class="event-time">{{ event.time }}</span>
        <span class="event-item">{{ event.text }}</span>
    </div>
    {%- endfor -%}
</div>