<!DOCTYPE html>
<html lang="zh_CN">
<head>
<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/div.css">
<title>{{ page.title }}</title>
</head>
<body>
{{ content }}
</body>
</html>