---
layout: father
---
<div class="title">
    {{ page.title }} <span class="title-explain">{{ page.description }}</span>
</div>
<div class="line"></div>
<div class="menu">
    {% for item in site.menu %}
    <a href="{{ item.url }}" class="menu-item">{{ item.name }}</a>
    {% endfor %}
</div>
<div>
    {{ content }}
</div>
<footer>
    版权所有 &copy; 莱阳一中 69 级 4 班 | 禁止以任何形式转载
</footer>
{% if page.snowflakes != false %}
<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script type="text/javascript" defer>
    new Snowflakes({
        color: "#ffffff",
        minSize: 8,
        maxSize: 16
    });
</script>
{% endif %}